/* Home Page Styling*/
/* First section*/
section.home-first-section{
  margin: 0;
  min-height: 40em;
  height: 100%;    
  background-image: url("../img/index_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;    
}


/* Store page */
#store{
  display:grid;  
  grid-template-rows: 20em auto;
  grid-gap: 2em; 
  grid-template-areas: 
  "store-header"
  "products";
}

#store > header.store-header{
  grid-area: store-header;
  background-image: url("../img/healthy-food-2.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  "."
  "page-title"
  ".";  
}

#store > header.store-header > h1.page-title{
  grid-area: page-title;
  justify-self: center;
  color: white;
  font-family: borealis;
  font-size: 4em;
  font-weight: bold;
}

#products{
  grid-area: products;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2em;
  grid-template-areas:  
  "";
}

article.product-data{
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-rows: 1em auto 1em auto 1em auto 1em;
  grid-template-areas:
  ". . ." 
  ". dish-name ."
  ". . ."
  ". dish-img ."
  ". . ."
  ". dish-order ."
  ". . .";
  max-width: 22em;  
  border-radius: 4px;
	/*transition: .4s;
	background: #83BB66;*/
	border: 2px solid green;
}

#products > article.product-data img{
  width: 20em;
}

#products > article.product-data .dish-name{
  grid-area: dish-name;
}

#products > article.product-data .dish-img{
  grid-area: dish-img;
}

#products > article.product-data .dish-order{
  grid-area: dish-order;
}
