/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start of the stylesheet
Authors: Pedro Oliveira and Gonçalo Lemos
*/

html{
    background-color: white;
}

body{
    margin: 0;
}

body > header{
    background-color: #83BB66;
}

body > header div{
    width: 40em;
    margin: 0 auto;
}

/* Error message styling */
#messages{
    width: 40em;
}
#messages{
    width: 40em;
    margin: 0 auto;
}

#messages div{
    padding: 1em;
    margin-top: 1em;
    border-radius: 2em;
}

#messages .error{
    background-color: #F99;
    color: #333;
}

body>header h1 {
    margin: 0 1em 0 0;
    align-self: center;
}

body>header a {
    align-self: center;
    display: block;
    margin-right: 1em;
    flex-grow: 1;
    text-align: right;
}

body>header input {
    margin: 1em 0;
    border: 1px solid #666;
    padding: 0.5em;
}

body>header input[type="text"] {
    width: 10em;
}

body>header input[type="password"] {
    width: 10em;
}

body>header input[type="submit"] {
    background-color: #1DA1F2;
    color: white;
    border-color: #1DA1F2;
    box-sizing: content-box;
}

body > header .username{
    margin: 1em;
}

#messages .success{
    background-color: #9F9;
    color: #333;
}

#comment_form{
    background-color: white;
    padding: 5px;
}

#comment_form form{
    width: 100%;
    display: flex;
}

#comment_form textarea{
    border: none;
    flex-grow: 1;
    margin: 1em;
    padding: 1em;
}

#comment_form input{
    background-color: white;
    color: #000;
    border: none;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

#messages .close {
    float: right;
    text-decoration: none;
    color: #333;
  }
   

/* End */