/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start of the stylesheet
Authors: Pedro Oliveira and Gonçalo Lemos
*/

/* Font */
@font-face{
	src: url(../fonts/Borealis.ttf);
	font-family: borealis;
}

html, body{
	height: 100%;
	font-family: 'Karla', sans-serif;	
}

#container{
	min-height: 100%;
}

/*______ MENU DO TOPO DO ECRÃ ______*/
/*
.tab {
	width: 80%;
	margin: auto;
}*/

/* Cor de fundo e correção de um bug que retirava a cor */
header {
	background: #83BB66;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

/* Design do logótipo */
.logo{
	float: left;
	height: 5em;	
	padding: 5px 0 5px 1em;	
}

/*
.logo-img{
	float: left;
	height: 5em;	
	padding-top: 1em;
	padding-bottom: 1em;
}*/

/* Navigation Bar */
nav {
	float: right;
	margin: 5px 10% 5px 0;
}

nav button.logout{
    background-color: #83BB66;
    padding: 0;
    margin: 0;
    color: white;    
    border: none;
    cursor: pointer;
    width: 3em;    
  	font-family: 'Karla', sans-serif;
    font-size: 18pt;
    font-variant: small-caps;  
}

/* design da barra de navegação */
nav ul {
	font-size: 18pt;	
	word-spacing: 2em;
	list-style: none;
	padding: 1em;
}

/* alinhamento e posição da barra */
nav li {
	display: inline-block;
	position: relative;
	margin: auto;
}



/* design das hiperligações */
nav a {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	cursor: pointer;
}

/* O que acontece quando se passa com o rato por cima das hiperligações */
nav a:hover, nav button:hover {
	font-weight: bold;
	transition: font-weight ease-in-out 200ms;
}

nav a::before, nav button::before {
	content: '';
	display: block;
	height: 5px;
	background-color: white;
	
	position: absolute;
	bottom: -0.5em;
	width: 0%;
	border-radius: 10px;
	transition: all ease-in-out 200ms;
}

nav a:hover::before, nav button:hover::before {
	width: 100%;
}

nav a.shopping-cart::before{
	transition: none;
	content: none;
}

nav img:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

nav img{
	height: 1em;
	margin: auto;
}

/* Home Page Styling*/
/* First section*/
section.home-first-section{
    margin: 0;
    min-height: 40em;
    height: 100%;    
    background-image: url("../img/index_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

p.first_p{
	padding-left: 10%;
	padding-top: 5%;	
	font-size: 22pt;
	color:white;
	font-family: borealis;
	font-weight: bold;
}

.small-container {	
	border: none;
	color: white;
	border-radius: 5px;
	background-color: #83BB66;
	margin-left: 10%;
	margin-top: 3em;
	padding: 1em;
	text-align: center;
	width: 12em;	
	font-size: 14pt;
	font-family: sans-serif;
}

p.second_p{
	padding-top: 2em;
	padding-left: 10%;		
	font-size: 28pt;
	color: white;
	font-family: borealis;
	font-weight: bold;
}

/* Order button */
.home-first-section button {
	position: absolute;
	width: 7em;
	margin-top: 2.5em; 
	margin-left: 10%;
	font-size: 28pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	box-shadow: 5px 4px 5px black;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
}


.home-first-section button:focus {
	outline: none;
}

.home-first-section button:hover {
	background: green;
	opacity: 1;
}

/* Second section */
section.home-second-section{	
	padding: 1em;
}

section.home-second-section ul li{
	display: inline-block;
	margin: auto;
	padding: 0;
	list-style: none;
}

section.home-second-section li.image-inline{
	width: 250px;	
	margin: auto;
	padding: 5%;
	text-align: center;
	list-style: none;
}

.list-img{	
	width: 10em;	
}

.start {
	background-image: url("../img/mesa.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    height: 15em;
}
.start p{	
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 34pt;
    font-family: borealis;
    padding-top: 6%;
}

.start button{
	margin: auto;
	position: relative;
	width: 200px;
	font-size: 26px;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	box-shadow: 5px 4px 5px black;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
}
.start button:focus {
	outline: none;
}

.start button:hover {
	background: green;
	opacity: 1;
}



			/*_____________ TESTE LOGIN ___________ */


/* Full-width inputs */
form.user-data input[type=text], form.user-data input[type=password], form.user-data input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
form.user-data button{
    background-color: #83BB66;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    font-variant: small-caps;        
}

/* Add a hover effect for buttons */
form.user-data button:hover {
    font-weight: bold;
}

/* Extra style for the clean button (red) */
form.user-data .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Add padding to containers */
form.user-data .login-container {	
    font-family: 'Karla', sans-serif;
}

/* The "Forgot password" text */
form.user-data span.pwd {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.pwd {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

			/*_____________ END TEST LOGIN ___________ */

/* Account page */
.main-container{
	margin: 1em;
	padding: 5em;
}

/* Account page after being logged in */
/* Account container */
.main-container a{
	font-family: 'Karla', sans-serif;
	text-decoration: none;
}

.container-image{
	display:block;
	float:left;
	padding: 1em;	
	margin: 1em;
}

.container-title{
	padding-top: 1em;	
	margin: 1em;
	font-weight: bold;
	font-size: 12pt;
	color:black;
	text-align: left;
}

.container-description{
	margin: 1em;
	font-size: 10pt;
	color:grey;
}

.single-container{
	width: 40%;
	height: 8em;	
	background-color: rgb(245,245,245);
	border:none;	
}

.user-container{
	float: left;
	margin: 2em;
	padding: 2em;	
}

.address-container{
	float: right;
	margin:2em;
	padding: 2em;
}

.order-container{
	float: left;
	margin: 2em;
	padding: 2em;
}
.password-container{
	float: right;
	margin:2em;
	padding: 2em;
}

.admin-container{
	float: left;
	margin: 2em;	
	padding: 2em;		
}

/* Admin Panel */
/* Admin User Panel */
.admin-user-container{
	float: left;
	margin: 2em;
	padding: 2em;
}
/* Admin Order Panel */
.admin-order-container{
	float: right;
	margin: 2em;
	padding: 2em;
}
/* Admin Warehouse Panel */
.admin-warehouse-container{
	float: left;
	margin: 2em;
	padding: 2em;
}

/* Tables Default */
table{
	width: 50%;
	margin: auto;
}

table, th, td{
	border: 1px solid black;
  	border-collapse: collapse;
  	font-family: 'Karla', sans-serif;
}

th, td{
  padding: 10px;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

th{
  background-color: #83BB66;
  color: white;
}

td{
  background-color: #f5f5f5;
}

/* LEMOS store */

/*_____________ STORE ___________ */
section.store-wrap-left {
	width: 70%;	
	float: left;
	margin: auto;
	padding-top: 5em;
}	

section.store-wrap-right {
	width: 30%;
	float: right;	
	padding-top: 5em;
}

section.store-wrap-left .actual-dish{
	width: 45em;
	margin-left: auto;
	margin-right: auto;
}

/* Add to cart button */
.actual-dish form{
	margin: auto;
	text-align: center; 
}

.actual-dish button {	
	width: 6em;
	margin: auto;
	font-size: 24pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
}

.actual-dish button:focus {
	outline: none;
}

.actual-dish button:hover {
	background: green;
	opacity: 1;
}

img.selected-dish {
	display: block;
	margin: auto;
	width: 35em;
	padding-bottom: 2em;	
}

ul.store-dishes{
	margin:auto;
	list-style-type: none;
}

ul.store-dishes li img{	
	margin: auto;
	width: 15em;
	padding-bottom: 2em;
	opacity: 0.5;
	transition: opacity ease-in-out 150ms;
}


ul.store-dishes li img:hover{	
	margin: auto;
	width: 15em;
	padding-bottom: 2em;
	opacity: 1;
}

/* Headers */
.store-intro {
	width: 100%;
	background-image: url("../img/healthy-food-2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	padding: 7% 0 7% 0;
}
section.store-wrap-left h2{
	font-size: 20pt;
	color: #83BB66;
	font-family: borealis;
	text-align: left;
	margin: 1em auto 1em auto;	
}

article.dish-name p{
	padding-left: 2em;
}

article.dish-description p{
	padding-left: 2em;
}

p.selected-dish-description {
	color: black;
	font-size: 14pt;
	text-align: justify;
}

p.selected-dish-info {
	color: black;
	font-size: 11pt;
	text-align: justify;
}

article.dish-nutritional-info table.selected-dish-nutritional-info{
	width: 40%;
	margin: auto;	
	margin-bottom: 2em;
}

article.dish-nutritional-info table, th, td{
	border: none;
  	font-family: 'Karla', sans-serif;
}

article.dish-nutritional-info th, td{
	overflow: auto;
	white-space: nowrap;
}

article.dish-nutritional-info th{
	background-color: #83BB66;
	color: white;
	text-align: right;
}

article.dish-nutritional-info td{
	background-color: #f5f5f5;
}

article.dish-nutritional-info td.name {
	text-align: left;
	font-weight: bold;
}

article.dish-nutritional-info td.info {
	text-align: right;
}

article.dish-nutritional-info td.subinfo {
	text-align: left;
	padding-left: 3em;
	font-size: 11pt;
}

article.dish-nutritional-info td.annex {
	background-color: #D3D3D3;
	color: black;
	text-align: left;
	font-size: 9pt;
}


/*______________ END STORE______________*/


								/* LOGIN / SIGNUP POPUP's */

/* Full-width input fields */
#modal-wrapper input[type=text], #modal-wrapper  input[type=password], #modal-wrapper  input[type=date] {
    width: 90%;
	padding: 12px 20px;
	height: 1em;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

#modal-wrapper h1{
	font-size: 2em;
}

#modal-wrapper label{
	margin: 8px 26px;
}

/* Set a style for all buttons */
#modal-wrapper button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
#modal-wrapper button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
#modal-wrapper .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
#modal-wrapper .avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Admin Tables */
section.main-container table{
	width: 80%;
	table-layout: fixed;
}

section.main-container table tr td{
	overflow: auto;
}
.update-db form{
	margin: auto;	
}

.update-db form table{
	margin-top: 1em;
	width: 80%;
}

.update-db form input[type=text], input[type=date], input[type=password]{
	width: 100%;
	height: 1.5em;
}

.admin-buttons{
	padding-top: 1em;
	text-align: center;
	word-spacing: 2em;
}

.admin-buttons button{
	width: 6em;
	margin: auto;
	font-size: 16pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	/*box-shadow: 5px 4px 5px black;*/
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
}

/*_________________ABOUT________________*/
.about-wrap-left {
    width: 50%;
    float: left;
}

.about-wrap-right {
    width: 50%;
    float: right;
}

.about-intro {
	width: 100%;
	background-image: url("../img/healthy-food-3.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	padding: 7% 0 7% 0;
}

img.about-img {
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

p.about-header {
	font-size: 22pt;
	text-align: justify;
	color: #83BB66;
	padding: 10% 10% 0 10%;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
}

p.about-info {
	font-size: 16pt;
	text-align: justify;
	color: black;
	padding: 5% 10% 5% 10%;
	font-family: 'Karla', sans-serif;
}

/*______________END ABOUT________________*/


/*_______________CONTACT________________*/
.contact-intro {
	width: 100%;
	background-image: url("../img/healthy-food-5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	padding: 7% 0 7% 0;
}

p.intro-name {
	color: white;
	font-weight: bold;
	font-size: 22pt;
	font-family: Borealis;
	text-align: center;
	font-variant: small-caps;
}

p.intro-subname {
	color: white;
	font-weight: bold;
	font-size: 32pt;
	font-family: Borealis;
	text-align: center;
	font-variant: small-caps;
	padding-top: 0.5em;
}

.contact-map {
	padding: 5% 0 5% 0;
	width: 50%;
	float: right;
}

.contact-info {
	padding: 5% 0 5% 0;
	width: 50%;
	float: left;
}

.mapa {
	padding: 5%;
	width: 85%;
}

.mapa:hover {
	opacity: 0.70;
	transition: opacity ease-in-out 200ms;
}

.social-logo {
	width: 2em;
}

.social-logo:hover {
	opacity: 0.5;
	transition: opacity ease-in-out 200ms;
}

p.contact-details-header {
	padding: 5% 0 0 20%;
	font-weight: bold;
	font-size: 24pt;
	font-family: 'Karla', sans-serif;
	color: #83BB66;
}

p.contact-details {
	padding: 2% 0 0 20%;
	font-size: 16pt;
	font-family: 'Karla', sans-serif;
}
/*_______________END CONTACT________________*/
/*_______________FAQ________________*/
.faq-intro {
	width: 100%;
	background-image: url("../img/healthy-food-4.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	padding: 7% 0 7% 0;
}

p.faq-header {
	font-size: 20pt;
	text-align: justify;
	color: #83BB66;
	padding: 5% 10% 1% 10%;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
}

p.faq-info {
	font-size: 14pt;
	text-align: justify;
	color: black;
	padding: 0 10% 5% 10%;
	font-family: 'Karla', sans-serif;
}

.faq-questions {
	width: 80%;
	margin: auto;
	padding-bottom: 5%;
}

.faq-question {
	background-color: #83BB66;

}

.faq-answer {
	background-color: white;
}

p.faq-question-header {
	text-align: center;
	font-weight: bold;
	padding-bottom: 1%;
	font-size: 16pt;
}

p.p-question {
	color: white;
  	text-transform: uppercase;
  	padding: 1%;
  	text-align: justify;
  	font-size: 15pt;
}

p.p-answer {
	color: black;
  	padding: 1%;
  	text-align: justify;
  	font-size: 12pt;
}
/*_______________END FAQ________________*/

/*_______________FOOTER 3 SECTIONS________________*/
#footer {	
	position: relative;
	color: white;
	font-size: 16pt;
	clear: both;
}

.footer-end p {
	padding: 1em;
	text-align: left;
	font-size: 14pt;
}

.footer-end {
	background: #83BB66;
	width: 100%;
}

.footer-container {
	width: 100%;
	height: 12em;
	background-color: white;
}

.footer-left {
	width: 33%;
	float: left;
	padding-bottom: 1.5em;
}

.footer-center {
	width: 33%;
	float: left;
	margin-left: 0.3em;
	padding-bottom: 1.5em;
}

.footer-right {
	width: 33%;
	float: right;
	padding-bottom: 1.5em;
}

.footer-logo {
	height: 5em;		
	padding-top: 3em;	
	padding-left: 4em;
}

p.footer-header {
	color: #83BB66;
	font-weight: bold;
	text-align: left;
	padding: 5% 0 4% 15%;
}

p.footer-info {
	text-align: left;
	word-spacing: 1em;
	padding: 3% 0 0 15%;
}

p.footer-info a.link-info {
	color: black;
	text-decoration: none;
	text-decoration-style: none;
}

p.footer-info a.link-info:hover {
	color: lightgreen;
	transition: all ease-in-out 200ms;
}

p.footer-header a.link-header {
	color: #83BB66;
	text-decoration: none;
	text-decoration-style: none;
}

#footer a.link-header:hover {
	color: lightgreen;
	transition: all ease-in-out 200ms;
}

.small-img {
	margin: 0 auto;
	width: 15%;
}

span.delivery {
	padding: 1%;
}

/* New Store */
.product-container{
	margin: auto;
	margin-top: 2em;
	width: 40%;
	text-align: center;
}
.product-container .products img{
	width: 50%;
	padding-bottom: 1em;
	padding-top: 2em;
	margin: auto;
}

.product-container h2{
	text-align: left;
	font-size: 20pt;
	color: #83BB66;
	font-family: borealis;
	margin: 1em auto 0.5em auto;
}

.product-container p{
	text-align: justify;
	font-size: 16pt;
}

.product-container label{
	text-align: center;
	display: block;
	font-size: 20pt;
	color: #83BB66;
	font-family: borealis;
	padding: 1em 0 0.5em 0;	
}

.product-container input[type=text]{
	display: block;
	font-size: 16pt;
	text-align: center;
	margin: auto;
	width: 2em;
}

.product-container input[type=submit] {
	width: 11em;
	margin: auto;
	font-size: 20pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
	margin-top: 1em;
	margin-bottom: 2em;
}

.product-container input[type=submit]:focus {
	outline: none;
}

.product-container input[type=submit]:hover {
	background: green;
	opacity: 1;
}

.table-responsive{
	margin: 2em auto 2em auto;
}

/* CART */

button.checkout{
	width: 6em;
	margin: auto;
	font-size: 14pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 5px;	
}
table.store-table a{
	text-decoration: none;
}
a .btn-danger{
	color:white;
	width: 4em;
	font-size: 12pt;
	border-radius: 6px;
	background-color: red;
	text-decoration: none;
}