/*
Start of the stylesheet
Authors: Pedro Oliveira and Gonçalo Lemos
*/

/* Font */
@font-face{
	src: url(../fonts/Borealis.ttf);
	font-family: borealis;
}

html{
    background-color: white;
}

body{
    margin: 0;
    height: 100%;
	font-family: 'Karla', sans-serif;
}

body > header{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    background-color: #83BB66;

}

/* Design do logótipo */
header .logo{
    float: left;
    margin-left: 5px;	
}

/* Navigation Bar */
header nav {
	float: right;
    margin: 5px 10% 5px 0;
}

header nav > ul {
	font-size: 18pt;	
	word-spacing: 2em;
	list-style: none;
	padding: 1em;
}

nav > ul > li {
	display: inline-block;	
}

/* Design do logótipo */
header > img > .logo{
	height: 5em;	
	padding: 5px 0 5px 1em;	
}

/* design das hiperligações */
nav a {
	font-family: 'Karla', sans-serif;
  	font-weight: 400;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	cursor: pointer;
}

nav img.shopping-cart{
	height: 1em;
}

nav span.username{
    color: white;
}

/* Error message styling */
#messages{
    width: 40em;
}
#messages{
    width: 40em;
    margin: 0 auto;
}

#messages div{
    padding: 1em;
    margin-top: 1em;
    border-radius: 2em;
}

#messages .error{
    background-color: #F99;
    color: #333;
}

body>header h1 {
    margin: 0 1em 0 0;
    align-self: center;
}

body>header a {
    align-self: center;
    display: block;
    margin-right: 1em;
    flex-grow: 1;
    text-align: right;
}

body>header input {
    margin: 1em 0;
    border: 1px solid #666;
    padding: 0.5em;
}

body>header input[type="text"] {
    width: 10em;
}

body>header input[type="password"] {
    width: 10em;
}

body>header input[type="submit"] {
    background-color: #1DA1F2;
    color: white;
    border-color: #1DA1F2;
    box-sizing: content-box;
}

body > header .username{
    margin: 1em;
}

#messages .success{
    background-color: #9F9;
    color: #333;
}

#comment_form{
    background-color: white;
    padding: 5px;
}

#comment_form form{
    width: 100%;
    display: flex;
}

#comment_form textarea{
    border: none;
    flex-grow: 1;
    margin: 1em;
    padding: 1em;
}

#comment_form input{
    background-color: white;
    color: #000;
    border: none;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

#messages .close {
    float: right;
    text-decoration: none;
    color: #333;
  }
   

/* End */

