/* Home Page Styling*/
#home{
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 3em;
  grid-template-areas: 
  "first-section"
  "second-section";
}

#home-first-section{
  grid-area: first-section;  
  min-height: 40em;  
  background-image: url("../img/index_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 7em auto auto auto 2em;
  grid-template-rows: 5em auto 0.5em auto 0.5em auto 1em auto 5em;
  grid-template-areas: 
  ". . . . ."
  ". first-p . . ."
  ". . . . ."
  ". small-container . . ."
  ". . . . ."
  ". second-p . . ."
  ". . . . ."
  ". order-button . . ."
  ". . . . .";    
}

.first-p {
  grid-area: first-p;
	font-size: 2em;
	color:white;
	font-family: borealis;
	font-weight: bold;
}

.small-container {
  grid-area: small-container;	
  border: none;
  height: 1em;
	color: white;
	border-radius: 5px;
	background-color: #83BB66;
	padding: 1em;
	text-align: center;
	width: 12em;	
	font-size: 14pt;
	font-family: Karla;
}

p.second-p{
  grid-area: second-p;
	font-size: 2em;
	color: white;
	font-family: borealis;
	font-weight: bold;
}

.order-button{
  grid-area: order-button;
}

.order-button > button{
	width: 7em;
	font-size: 2em;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	box-shadow: 5px 4px 5px black;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 10px;
}

#home-second-section{
  grid-area: second-section;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 1em;
  padding: 1em 2em 1em 2em;
  grid-template-areas: 
  "first-col-img second-col-img third-col-img forth-col-img"
  "first-col-subtitle second-col-subtitle third-col-subtitle forth-col-subtitle";
}

#home-second-section .first-col-img{
  grid-area: first-col-img;
  justify-self: center; 
}

#home-second-section .second-col-img{
  grid-area: second-col-img;
  justify-self: center;
}
#home-second-section .third-col-img{
  grid-area: third-col-img;
  justify-self: center;
}
#home-second-section .forth-col-img{
  grid-area: forth-col-img;
  justify-self: center;
}

#home-second-section .first-col-subtitle{
  grid-area: first-col-subtitle;
  justify-self: center; 
}

#home-second-section .second-col-subtitle{
  grid-area: second-col-subtitle;
  justify-self: center;
}
#home-second-section .third-col-subtitle{
  grid-area: third-col-subtitle;
  justify-self: center;
}
#home-second-section .forth-col-subtitle{
  grid-area: forth-col-subtitle;
  justify-self: center;
}

#home-second-section div{
  max-width: 16em;
  text-align: center;
}

#home-second-section .col-img{
  width: 10em;
}

/* Store page */
#store{
  display:grid;  
  grid-template-rows: 20em auto;
  grid-row-gap: 2em;
  grid-template-areas: 
  "store-header"
  "products";
}

#store > header.store-header{
  grid-area: store-header;
  background-image: url("../img/healthy-food-2.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  "."
  "page-title"
  ".";  
}

#store > header.store-header > h1.page-title{
  grid-area: page-title;
  justify-self: center;
  color: white;
  font-family: borealis;
  font-size: 4em;
  font-weight: bold;
}

#products{
  margin: 2em;
  grid-area: products;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2em;
}

.product-container{
  width: 22em; 
  display: grid;
  justify-self: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1em;
  padding: 1em;
  grid-template-areas:  
  "name-label"
  "dish-name"
  "dish-img"
  "dish-order";
  justify-content: center;  
  border-radius: 4px;
	border: 2px solid green;
}

#products .dish-label{
  font-family: borealis;
  font-size: 1em;
  color: #83BB66;
}

#products .product-container .name-label{
  grid-area: name-label;
}

#products .product-container img{
  width: 20em;
}

#products .product-container p.dish-name{
  grid-area: dish-name;
}

#products .product-container .dish-img{
  grid-area: dish-img;
}

#products .product-container form.dish-order{
  grid-area: dish-order;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 1em;  
  grid-template-areas:
  "price-label dish-price" 
  "quantity-label order-quantity"
  "dish-add-to-cart dish-add-to-cart"; 
}

#products  form.dish-order .price-label{
  grid-area: price-label;
}

#products  form.dish-order .dish-price{
  grid-area: dish-price;
}

#products  form.dish-order .quantity-label{
  grid-area: quantity-label;  
}

#products  form.dish-order input[type=number].order-quantity{
  grid-area: order-quantity;
  width: 2em;
}

#products form.dish-order .dish-add-to-cart{
  grid-area: dish-add-to-cart;
  justify-self: center;
  font-size: 1.3em;
  width: 11em;
}

/* Shopping cart page styling */
#shopping-cart{
  display: grid;
  min-height: 10em;
  padding: 4em;
  grid-row-gap: 3em;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto; 
  grid-template-areas: 
  ". page-title ."
  ". shopping-table .";
}
.page-title{
  grid-area: page-title;
}

#shopping-cart .shopping-table{  
  grid-area: shopping-table;
}

/* CART */
button.checkout{
	width: 6em;
	margin: auto;
	font-size: 14pt;
	border-radius: 6px;
	transition: .4s;
	background: #83BB66;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;
	color: white;
	cursor: pointer;
	padding: 5px;	
}

table.store-table a{
	text-decoration: none;
}
